<h2>Top 100 Files</h2>


<table class="report-table">
  <thead>
    <tr>
      <th>File</th>
      <th class="error-col">Errors</th>
      <th class="warning-col">Warnings</th>
    </tr>
  </thead>  
  <tbody>
    {{~#each files~}}
    {{~#ifCond @index "<" 100 ~}}
      {{~#row this~}}
        <td>
            <a class="toggle-link" href="#{{@index}}">{{path}}</a>
        </td>
        <td>{{errors}}</td>
        <td>{{warnings}}</td>
      {{~/row~}}
    {{~/ifCond~}}      
    {{~/each~}}
  </tbody>
</table>

<h2>File Issue In Details</h2>
<table class="report-table">
  <thead>
    <tr>
      <th>File</th>
      <th class="error-col">Errors</th>
      <th class="warning-col">Warnings</th>
    </tr>
  </thead>
  <tbody>
    {{~#each files~}}
    {{~#ifCond @index "<" 100 ~}}
      <tr id="{{@index}}" class="warning">
        <td>
            {{path}}
        </td>
        <td>{{errors}}</td>
        <td>{{warnings}}</td>
      </tr>
      {{~#if messages.length~}}
        <tr class="details-row">
          <td colspan="3">
            <table class="details-table">
              <tbody>
                {{~#each messages~}}
                  {{~#messageRow this~}}
                    <td class="location-col">
                      {{#if line}}
                        {{line}}:{{column}}
                      {{/if}}
                    </td>
                    <td class="severity-col">{{formatSeverity this}}</td>
                    <td class="message-col">{{message}}: <b><i>{{source}}</i></b></td>
                    {{#if ruleUrl}}
                      <td class="rule-col"><a href="{{ruleUrl}}">{{ruleId}}</a></td>
                    {{^}}
                      <td class="rule-col">{{ruleId}}</td>
                    {{/if}}
                  {{~/messageRow}}
                {{~/each~}}
              </tbody>
            </table>
          </td>
        </tr>
      {{~/if~}}
    {{~/ifCond~}}      
    {{~/each~}}
  </tbody>
</table>
